<!-- Footer -->
<footer>
  <div class="footer-container">
    <div class="uadec-footer-wrapper">
      <!-- LOGO -->
      <div class="uadec-footer-logo">
        <a href="#">
          <img src="assets/images/Icon.jpg" alt="RDMS" width="50">
        </a>
      </div>

      <!-- DIRECCIÓN -->
      <div class="uadec-footer-address">
        <span>DIRECCIÓN</span>
        <p>Parque Industrial Ramos Arizpe<br>Saltillo, Coahuila, México.<br>C.P. 25000</p>
      </div>

      <!-- CONTACTO -->
      <div class="uadec-footer-contact">
        <span>CONTACTO</span>
        <p>
          <img src="assets/images/Cell.jpg" alt="WhatsApp"> +52 844 438 1600 <br>
          <a href="#"><img src="assets/images/Web.jpg" alt="Page"></a> www.uadec.mx
        </p>
        <div class="uadec-social-media">
          <a href="#"><img src="assets/images/facebook.jpg" alt="Facebook"></a>
          <a href="#"><img src="assets/images/Icon.jpg" alt="Medicina"></a>
        </div>
      </div>
    </div>

    <!-- COPYRIGHT -->
    <div class="uadec-footer-terms">
      <div class="left">Alumnos del Departamento de Humanidades. 2025 | Todos los derechos reservados.</div>
    </div>
  </div>
</footer>
<!-- Footer End-->
