<!-- Columnas de Imágenes -->
<div class="blog-post-des">
  <h3>Dinosaurios Populares</h3>
  <p>
    Tiranosaurio Rex, Triceratops y Diplodocus, pero hay muchos, muchos más.
    El Museo Americano de Historia Natural tiene registrado 700 especies de estos depredadores.
  </p>
</div>

<div class="blog-single-post-image row">
  <div class="col-md-4 col-sm-4">
    <img src="assets/images/dino01.jpeg" class="img-responsive" alt="Blog Image 1">
  </div>
  <div class="col-md-4 col-sm-4">
    <img src="assets/images/dino02.jpg" class="img-responsive" alt="Blog Image 2">
  </div>
  <div class="col-md-4 col-sm-4">
    <img src="assets/images/dino04.jpg" class="img-responsive" alt="Blog Image 3">
  </div>
</div>
<!-- Columnas de Imágenes End -->

<!-- Sección de Texto e Imágenes -->
<div class="container content-section">
  <!-- Primera sección -->
  <div class="row content-row">
    <div class="col-md-6 col-sm-12 content-text">
      <h3>¿Qué Conocimiento Tenemos?</h3>
      <p>
        Según el Museo Americano de Historia Natural, en términos de dinosaurios no aviares extintos,
        se han descubierto y nombrado alrededor de 300 géneros válidos y aproximadamente 700 especies válidas.
        Sin embargo, dado que el registro fósil está incompleto, en el sentido de que los científicos aún tienen que descubrir más,
        estos números no reflejan la verdadera diversidad de los dinosaurios extintos.
      </p>
      <p>
        Una razón por la que el registro fósil es incompleto es que las rocas de algunos períodos de tiempo geológico
        no se encuentran comúnmente en la superficie de la Tierra.
        Por ejemplo, se conocen muchos más tipos de dinosaurios del Cretácico Tardío que los del Jurásico Medio,
        porque los afloramientos del Cretácico Tardío son más numerosos y están más extendidos geográficamente que los del otro periodo.
      </p>
    </div>
    <div class="col-md-6 col-sm-12 content-image">
      <img src="assets/images/dino05.jpg" class="img-responsive" alt="About Image">
    </div>
  </div>

  <!-- Segunda sección -->
  <div class="row content-row">
    <div class="col-md-6 col-sm-12 content-text">
      <h3>Tiranosaurio Rex</h3>
      <p>
        El también llamado Tyrannosaurus rex significa el "Rey Lagarto Tirano",
        y difícilmente se le podría haber adjudicado un nombre mejor.
        Quien lo hizo fue Henry Fairfield Osborn, en 1905, entonces presidente del Museo Americano de Historia Natural.
      </p>
    </div>
    <div class="col-md-6 col-sm-12 content-image">
      <img src="assets/images/dino03.jpg" class="img-responsive" alt="About Image 2">
    </div>
  </div>
</div>
<!-- Sección de Texto e Imágenes End -->

